.input-block{
    text-align: center;
    i{
        position: absolute;
        top: 62px;
        font-size: 1.8rem;
        color: rgb(112, 112, 112);
    }
    input{
        width: 40%;
        height: 50px;
        border: none;
        background-color: rgba(11, 218, 255, 0);
        border-bottom: 2px solid rgb(54, 198, 255);
        outline: none;
        font-size: 2.3rem;
        padding-left: 40px;
        font-family: 'Squada One', cursive;
        letter-spacing: 1px;
    }
}
@media screen and (max-width: 768px){
    .input-block{
        input{
            font-size: 1.8rem;
        }
    }
}
@media screen and (max-width: 425px){
    .input-block{
        i{
            top: 63px;
            font-size: 1.5rem;
        }
        input{
            width: 70%;
            font-size: 1.5rem;
        }
    }
}